services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${PGDATABASE}
      POSTGRES_USER: ${PGUSER}
      POSTGRES_PASSWORD: ${PGPASSWORD}
    ports:
      - "${PGPORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:  
      - app-network  

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    env_file:
      - .env
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:  
      - app-network

  backend:
    build: ./backend
    container_name: spring_backend
    restart: always
    env_file:
      - .env
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://${PGHOST}:${PGPORT}/${PGDATABASE}
      SPRING_DATASOURCE_USERNAME: ${PGUSER}
      SPRING_DATASOURCE_PASSWORD: ${PGPASSWORD}
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    networks:  
      - app-network  

  # frontend:
  #   build: ./frontend
  #   container_name: next_frontend
  #   restart: always
  #   env_file:
  #     - .env
  #   environment:
  #     NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
  #   ports:
  #     - "3000:3000"
  #   depends_on:
  #     - backend
volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge



